*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open San',sans-serif;
}
body{
    height:auto;
    background-color: #ffd900;
    background-size: cover;
    background-position: center;
}
.header1{
    background: black;
    margin: 0;
    width: auto;
    height: 100px;
    opacity: 100%;
    border-radius: 15px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
}
a:hover{
    color:#ffd900;
}

header{
    position: relative;
    padding: 0 2rem;
}
.navbar{
    width: 100%;
    height: 100px;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    font-size: 2.4rem;
    font-weight: bold;
}
.navbar .links{
    display: flex;
    gap: 3rem;
}
.navbar .toggle_btn{
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}
.action_btn{
    background-color: #ffd900;
    color: black;
    padding: 0.9rem 1.5rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}
.action_btn:hover{
    scale: 1.05;
    color: black;

}
.action_btn:active{
    scale: 0.95;
}
/*dropdown_menu*/

.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

}

.dropdown_menu{
    display: block;
}
    
.dropdown_menu.open{
    height: 240px;
}

.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
}

.img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.img img{
    width: 400px;
    height: 300px;
    border: 2px solid black;
    border-radius: 13px;
    box-shadow: 4px 7px 7px 0px #ffd900;
    cursor: pointer;
    margin: 10px;
    transition: 400ms;
}

.img img:hover{
    filter: grayscale(0.5);
    transform: scale(1.03);
}

/*responsove design*/

@media(max-width:992px){
    .navbar  .links,
    .navbar  .action_btn{
        display: none;
    }
    .navbar .toggle_btn{
        display: block;
    }
}

@media(max-width:5876px){
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }
}